* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  height: 100vh;
  display: grid;
  align-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.mistakes {
  color: #27ae60;
}
.mistakes-warning {
  color: #e1db38;
}
.more-mistakes-warning {
  color: #ddb91d;
}
.mistakes-danger {
  color: rgba(255, 106, 0, 0.879);
}
.almost-lost {
  color: rgb(255, 38, 0);
}
.word {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
  /* background-color: red; */
}
.restart-button {
  all: unset;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 15px;
}
.restart-button:hover {
  background-color: black;
  color: white;
}
.streak {
  position: absolute;
  top: 15px;
  left: 15px;
}